:root{
    --primaryColor:aqua;
    --secundaryColor:black;
    --thirdColor:aliceblue;
    --primaryFont:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --fontsizeX:19px;
    --fontsizeM:20px;
    --fontsizeL:30px;
    --fontsizeXL: 40px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.titulo{
    background-color:var(--primaryColor);
    height: 200px;
    border: 10px solid var(--secundaryColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.nombre{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-size: var(--fontsizeL);
    font-family:var(--primaryFont);
    position: relative;
    top: 30px;
}
.enlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.enlace1:hover{
    background-color:var(--primaryColor);
    color:var(--secundaryColor);
    text-shadow: var(--secundaryColor);
    transform: scale(1,3);
}
.enlace2:hover{
    background-color:var(--primaryColor);
    color:var(--secundaryColor);
    text-shadow:var(--secundaryColor);
    transform: scale(1,3);

}
.enlace3:hover{
    background-color:var(--primaryColor);
    color: var(--secundaryColor);
    text-shadow: var(--secundaryColor);
    transform: scale(1,3);

}
.enlace4:hover{
    background-color:var(--primaryColor);
    color:var(--secundaryColor);
    text-shadow: var(--secundaryColor);
    transform: scale(1,3);
}
.enlace2{
    height: 30px;
    font-size: 19px;
    background-color:var(--secundaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:transform 2s ease-in-out;
}
.enlace1{
    height: 30px;
    font-size:var(--fontsizeX);
    background-color:var(--secundaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:transform 2s ease-in-out;
}
.enlace3{
    height: 30px;
    font-size: var(--fontsizeX);
    background-color:var(--secundaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:transform 2s ease-in-out;
}
.enlace4{
    height: 30px;
    font-size: var(--fontsizeX);
    background-color:var(--secundaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:transform 2s ease-in-out;
}
.texto{
    background-color:var(--secundaryColor);
    height: 411px;
    display: flex;
    flex-direction: column;
}
.parrafo{
background-color:var(--secundaryColor);
height: 70px;
width: 1230px;
font-size: var(--fontsizeL);
display:flex;
flex-direction: row;
justify-content: center;
position: relative;
top: 20px;
color: var(--thirdColor);
font-family: monospace;
white-space: nowrap;
width: 34ch;
animation: typing 2s steps(34),blink .5s infinite step-end alternate ;
overflow:hidden;

}
@keyframes typing {
    from {width: 0; }
}
@keyframes blink {
   50% {border-color: transparent; }
}
.parrafo1{
    color: var(--thirdColor);
    font-size: var(--fontsizeL);
    position: relative;
    margin: 20px;
    left: 20px;
}
.contenido{
    
    background-color:var(--secundaryColor);
    height: 350px;
    width: 1230px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.fa-brands{
    color: aqua;
    position: relative;
    top: 40px;
    height: 80px;
    font-family: monospace;
    white-space: nowrap;
    width: 34ch;
    animation: typing 2s steps(34),blink .5s infinite step-end alternate ;
    overflow:hidden;
    
    

}

